.newpass-wrapper {
  min-height: 100vh;
  background: #d9d9d9;
  /* display: flex; */
  justify-content: center;
  font-family: Arial, sans-serif;
}

.newpass-container {
  /* width: 390px; */
  min-height: 100vh;
}

.newpass-header {
  height: 110px;
  background: #15192b;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 14px;
}

.newpass-back-btn {
 width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newpass-title {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.newpass-body {
  padding: 180px 28px 0;
}

.newpass-heading {
  font-size: 34px;
  color: #15192b;
  margin-bottom: 40px;
  font-weight: 700;
}

.newpass-input-row {
  width: 90%;
  height: 68px;
  background: #7d7573;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 18px;
  margin-bottom: 22px;
  box-shadow: 0 8px 14px rgba(0,0,0,0.18);
  color: white;
  margin-left: 50px;
}

.newpass-input-row input {
  border: none;
  background: transparent;
  color: white;
  width: 100%;
  outline: none;
  font-size: 18px;
}

.newpass-input-row input::placeholder {
  color: white;
}

.newpass-submit-btn {
  width: 100%;
    height: 76px;
    border: none;
    border-radius: 40px;
    background: #15192b;
    color: white;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
    cursor: pointer;
}

.newpass-arrow-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: white;
  color: #15192b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eye-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

.newpass-Confirm-password-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}